{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ album.album_name }} - Details</title>
    <link rel="stylesheet" href="{% static 'music_rating/general.css' %}">
    <script src="{% static 'java_script/search.js' %}"></script>
</head>
<body>
    <nav>
        <div class="web_name">
            <a href="{% url 'homepage' %}" class = "active">Good Name</a>
        </div>
        <div class="search_container">
            <input type="text" id="nav_search_bar" class="nav_search_bar" placeholder="Search for a song, artist...">
            <div id="suggestions" class = "suggestions"></div>
        </div>
        <div class="navbar-links">
            <a href="{% url 'albums' %}">Albums</a>
            <a href="{% url 'artists' %}">Artists</a>
            <a href="{% url 'community' %}">Community Page</a>
            <a href="{% url 'entries' %}">Rating Entries</a>
            <a href="{% url 'songs' %}">Songs</a>
        </div>
    </nav>
    <script src="{% static 'java_script/search.js' %}?v={{ timestamp }}"></script>
    <h1>{{ album.album_name }}</h1>
    
        <h2>Songs</h2>
        <ul>
            {% for track in tracks %}
                <a href = "{% url 'song_detail' track.id%}"><li>{{ track.name }}</li></a>
            {% empty %}
                <li>No tracks available</li>
            {% endfor %}
        </ul>
        <h2>Rating</h2>
        <p>Rating: {{ album.rating }}</p>
        <h2>Optional Notes</h2>
        <p>{{ album.optional_writing|default:"No additional information available." }}</p>  
</body>
</html>