{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ album.album_name }} - Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'music_rating_css/general.css' %}">
    <script src="{% static 'java_script/search.js' %}"></script>
</head>
<body>
    <nav>
        <div class="web_name">
            <a href="{% url 'homepage' %}" class = "active">Good Name</a>
        </div>
        <div class="search_container">
            <input type="text" id="nav_search_bar" class="nav_search_bar" placeholder="Search for a song, artist...">
            <div id="suggestions" class = "suggestions"></div>
        </div>
        <div class="navbar-links">
            <a href="{% url 'albums' %}">Albums</a>
            <a href="{% url 'artists' %}">Artists</a>
            <a href="{% url 'community' %}">Community Page</a>
            <a href="{% url 'entries' %}">Rating Entries</a>
            <a href="{% url 'songs' %}">Songs</a>
        </div>
    </nav>
    <script src="{% static 'java_script/search.js' %}?v={{ timestamp }}"></script>
    <h1>{{ album.album_name }}</h1>
    
        <h2>Songs</h2>
        <ul>
            {% for track in tracks %}
                <a href = "{% url 'song_detail' track.id%}"><li>{{ track.name }}</li></a>
            {% empty %}
                <li>No tracks available</li>
            {% endfor %}
        </ul>
        <div class = "rating_section">
        <h2>Rating</h2>
        <p>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rateModal{{ album.id }}">
        Add Rating
        </button>
        </p>
        <p>
            {% if album_obj.album_rating %}
                {{ album_obj.album_rating.score}}
            {% else %}
                You have not rated this album yet.
            {% endif %}
        </p>
        <!--
        <h2>Optional Notes</h2>
        <p>{{ album.optional_writing|default:"No additional information available." }}</p>
        -->
        </div>

        <!-- Modal -->
<div class="modal fade" id="rateModal{{ album.id }}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        {% if album.id %}
        <form method="POST" action="{% url 'rate_album' album.id %}">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="modal-footer">
            <button type="submit" class="btn btn-success">Save Rating</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>

        </form>
        {% else %}
        <p>Error: Missing Spotify ID</p>
        {% endif %}
      </div>
    </div>
  </div>
</body>
</html>