{% load static %}

<link rel = "stylesheet" href="{% static 'music_rating/general.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <title>Bun Fantano</title>
    </head>
    <body>
        <nav>
            <div class="web_name">
                <a href="{% url 'homepage' %}" class = "active">Good Name</a>
            </div>
            <div class="search_container">
                <input type="text" id="nav_search_bar" class="nav_search_bar" placeholder="Search for a song, artist...">
                <div id="suggestions" class = "suggestions"></div>
            </div>
            <div class="navbar-links">
                <a href="{% url 'albums' %}">Albums</a>
                <a href="{% url 'artists' %}">Artists</a>
                <a href="{% url 'community' %}">Community Page</a>
                <a href="{% url 'entries' %}">Rating Entries</a>
                <a href="{% url 'songs' %}">Songs</a>
            </div>
        </nav>


        <script src="{% static 'java_script/search.js' %}?v={{ timestamp }}""></script>
        



    </body>
</html>