{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'music_rating_css/general.css' %}">
    <script src="{% static 'java_script/search.js' %}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <title>{{ artist.artist_name }}</title>
</head>
<body>
    <nav>
        <div class="web_name">
            <a href="{% url 'homepage' %}" class = "active">Good Name</a>
        </div>
        <div class="search_container">
            <input type="text" id="nav_search_bar" class="nav_search_bar" placeholder="Search for a song, artist...">
            <div id="suggestions" class = "suggestions"></div>
        </div>
        <div class="navbar-links">
            <a href="{% url 'albums' %}">Albums</a>
            <a href="{% url 'artists' %}">Artists</a>
            <a href="{% url 'community' %}">Community Page</a>
            <a href="{% url 'entries' %}">Rating Entries</a>
            <a href="{% url 'songs' %}">Songs</a>
        </div>
    </nav>
    <script src="{% static 'java_script/search.js' %}?v={{ timestamp }}"></script>
    <h1>{{ artist.artist_name }}</h1>

    <h2>Albums</h2>
    <ul>
        {% for album in artist.artist_albums %}
        <a href="{% url 'album_detail' album.0 %}"><b>{{ album.1 }}</b></a><br>
        {% empty %}
            <li>No albums available</li>
        {% endfor %}
    </ul>

    <h2>Singles</h2>
    <ul>
        {% for single in artist.artist_singles %}
            <a href="{% url 'album_detail' single.0 %}"><b>{{ single.1 }}</b></a><br>
        {% empty %}
            <li>No singles available</li>
        {% endfor %}
    </ul>

    <h2>EPs</h2>
    <ul>
        {% for ep in artist.artist_eps%}
        <a href="{% url 'album_detail' ep.0 %}"><b>{{ ep.1 }}</b></a><br>
        {% empty %}
            <li>No EPs available</li>
        {% endfor %}
    </ul>
    <div class = "rating_section">
        <h2>Rating</h2>
        <p>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rateModal{{ artist.id }}">
        Add Rating
        </button>
        </p>
        <p>
            {% if final_rating is not None %}
                {{ final_rating}}
            {% else %}
                You have not rated this artist yet.
            {% endif %}
        </p>
        <p> 
            {% if community_rating is not None %}
                {{ community_rating}}
            {% else %}
                Looks like the community haven't found this gem.
            {% endif %}
        </p>

        <!-- Modal -->
        <div class="modal fade" id="rateModal{{ artist.id }}" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    {% if artist.id %}
                    <form method="POST" action="{% url 'artist_detail' artist_obj.spotify_id %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success">Save Rating</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </form>
                    {% endif %}
                </div>
            </div> 

            <!-- CSS to hide the score field and its label initially -->
    <style>
  #id_score, label[for="id_score"] {
    display: none;
  }
</style>


             <!-- JavaScript to handle the visibility of the score field based on the rate system selection -->
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const modal = document.getElementById('rateModal{{ artist.id }}');  
                    modal.addEventListener('shown.bs.modal', function (event) {
                        const rateSystemSelect = modal.querySelector('#id_rate_system');
                        const scoreFieldLabel = modal.querySelector('label[for="id_score"]');
                        const scoreFieldWrapper = modal.querySelector('#id_score');
                        const updateScoreFieldVisibility = () => {
                            if (rateSystemSelect.value != '1') { // Assuming '0' is the value for 'Custom'
                                scoreFieldWrapper.style.display = 'none';
                                scoreFieldLabel.style.display = 'none';
                            } else {
                                scoreFieldWrapper.style.display = 'block';
                                scoreFieldLabel.style.display = 'block';
                            }
                        };
                        rateSystemSelect.addEventListener('change', updateScoreFieldVisibility);
                    });
                });
            </script>
        </body>
</html>