{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ track.track_name }}</title>
    <link rel="stylesheet" href="{% static 'music_rating_css/general.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'java_script/search.js' %}"></script>
</head>
<body>
    <nav>
        <div class="web_name">
            <a href="{% url 'homepage' %}" class = "active">Good Name</a>
        </div>
        <div class="search_container">
            <input type="text" id="nav_search_bar" class="nav_search_bar" placeholder="Search for a song, artist...">
            <div id="suggestions" class = "suggestions"></div>
        </div>
        <div class="navbar-links">
            <a href="{% url 'albums' %}">Albums</a>
            <a href="{% url 'artists' %}">Artists</a>
            <a href="{% url 'community' %}">Community Page</a>
            <a href="{% url 'entries' %}">Rating Entries</a>
            <a href="{% url 'songs' %}">Songs</a>
        </div>
    </nav>
    <script src="{% static 'java_script/search.js' %}?v={{ timestamp }}"></script>
    <div class="container">
        <h1>{{ song.track_name }}</h1>
    
        <div class="section">
            <p class="label">Album:</p>
            <p>
                <a href="{% url 'album_detail' song.album_id %}">{{ song.album_name }}</a>
            </p>
        </div>
    
        <div class="section">
            <p class="label"> Artist{{ song.artist_name|length|pluralize }}:</p>
            <ul>
                {% for name, id in song.artist_name|zip_lists:song.artist_id %}
                    <li><a href="{% url 'artist_detail' id %}">{{ name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class = "rating_section">
        <h2>Rating</h2>
        <p>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rateModal{{ song.id }}">
        Add Rating
        </button>
        </p>
        <p>
            {% if user_rating %}
                {{ user_rating.score }}
            {% else %}
                You have not rated this song yet.
            {% endif %}
        </p>
        <p>
            {% if optional_writing %}
                {{ optional_writing }}
            {% endif %}
        </p>

        <p> 
            {% if community_rating %}
                {{ community_rating }}
            {% else %}
                Looks like the community haven't found this gem
            {% endif %}
        </p>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="rateModal{{ song.id }}" tabindex="-1" aria-labelledby="rateModalLabel{{ song.id }}" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                {% if song.id %}
                <form method="post" action="{% url 'song_detail' song_obj.spotify_id %}">
                    {% csrf_token %}
                    <div class="modal-body">
                        {{ form.as_p }}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Save Rating</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </form>
                {% else %}
                <p>Error: Missing Spotify ID</p>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const rateSystemSelect = document.getElementById('id_rate_system');
            const rateSystemLabel = document.querySelector('label[for="id_rate_system"]');

            rateSystemSelect.style.display = 'none';
            rateSystemLabel.style.display = 'none';
        })
    </script>
</body>
</html>