{% load static %}

<link rel = "stylesheet" href="{% static 'music_rating/general.css' %}">

<!DOCTYPE html>
<html>
    <head>
        <title>Songs</title>
    </head>
    <body>
        <nav>
            <div class="nav_bar">
                <div class="web_name">
                    <a href="{% url 'homepage' %}" class = "active">Good Name</a>
                    </div>
            <a href="{% url 'albums' %}">Albums</a>
            <a href="{% url 'artists' %}">Artists</a>
            <a href="{% url 'community' %}">Community Page</a>
            <a href="{% url 'entries' %}">Rating Entries</a>
            <a href="{% url 'songs' %}">Songs</a>
            <form action="/search/" method="GET" style="display: flex; align-items: center;">
                <input type="text" name="q" placeholder="Search here..." />
                <button type="submit" style="background: none; border: none; cursor: pointer;">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                        <path fill="currentColor" d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5 6.5 6.5 0 109.5 16a6.471 6.471 0 004.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zM9.5 14C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/>
                    </svg>
                </button>
            </form>
        </div>
        </nav>
    </body>
</html>