.navBar{
    width: auto;
    display: flex;
    background-color: var(--primary-800);
    justify-content: flex-start;
    align-items: center;
}
.webpageName{
    background-color: var(--primary-800);
    color: var(--grey-50);
}

.signUp{
    margin-left: auto;
}


.searchbar{
    position: relative;

}